.footer {
    background-color: rgb(223, 225, 255);
}

.alinear{
    text-align: right;
}

.justificado {
    color:rgb(0, 0, 0);
}

.imagen {
    width: 30px;
    height: 30px;
    
  }

.letra{
    color: rgb(223, 225, 255);
}