<div id="main-wrapper">

  <app-header></app-header>

  <app-sidebar></app-sidebar>

  <div class="page-wrapper">
    <div class="container-fluid">
          <!-- Breadcrumbs -->
          <app-breadcrumbs></app-breadcrumbs>

          <!-- Mi sistema de rutas -->
          <router-outlet></router-outlet>
    </div>
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <mat-footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h4 class="footer-title">Servicios</h4>
            <ul class="footer-list">
              <li><a routerLink="médicos">Médicos</a></li>
              <li><a routerLink="hospitales">Hospitales</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <h4 class="footer-title">Empresa</h4>
            <ul class="footer-list">
              <li><a href="https://goo.gl/maps/4Ke87HSKS4a7Rzvv9">Encuentre un hospital</a></li>
              <li><a href="https://wa.link/nbgcts">Contactenos</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <h4 class="footer-title">Encuentranos</h4>
            <ul class="footer-list">
              <a href="https://www.facebook.com">
                <img src="../../assets/images/icon/f.png" alt="" class="imagen">
              </a>
              <a href="https://wa.link/nbgcts">
              <img src="../../assets/images/icon/w.png" alt="" class="imagen">
              </a>
              <a href="https://www.instagram.com/">
              <img src="../../assets/images/icon/i.png" alt="" class="imagen">
              </a>
              <a href="https://twitter.com/?lang=es">
              <img src="../../assets/images/icon/t.png" alt="" class="imagen">
              </a>
            </ul>
          </div>          
        </div>
        <div class="row">
          <div class="col-sm-6">
            <p class="footer-text">© 2020-2023 Hospital</p>
          </div>
          <!-- <div class="col-sm-6 text-right">
            <p class="footer-text"><a href="#">Términos de servicio</a> | <a href="#">Política de privacidad</a></p>
          </div> -->
        </div>
      </div>
    </mat-footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
  </div>
</div>

<app-modal-imagen></app-modal-imagen>
