
<div id="main-wrapper">

  <app-header></app-header>

  <app-sidebar></app-sidebar>

  <div class="page-wrapper">
    <div class="container-fluid">
          <!-- Breadcrumbs -->
          <app-breadcrumbs></app-breadcrumbs>

          <!-- Mi sistema de rutas -->
          <router-outlet></router-outlet>
    </div>
      <!-- ============================================================== -->
      <!-- footer -->
      <!-- ============================================================== -->
      <mat-footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <h4 class="footer-title">Servicios</h4>
              <ul class="footer-list">
                <li>Médicos</li>
                <li>Hospitales</li>
              </ul>
            </div>
            <div class="col-sm-4">
              <h4 class="footer-title">Empresa</h4>
              <ul class="footer-list">
                <li>Encuentre un hospital</li>
                <li>Contactenos</li>
              </ul>
            </div>
            <div class="col-sm-4">
              <h4 class="footer-title">Encuentranos</h4>
              <ul class="footer-list">
                <img src="../../assets/images/icon/f.png" alt="" class="imagen">
                <img src="../../assets/images/icon/w.png" alt="" class="imagen">
                <img src="../../assets/images/icon/i.png" alt="" class="imagen">
                <img src="../../assets/images/icon/t.png" alt="" class="imagen">
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <p class="footer-text">© 2020-2023 Hospital</p>
            </div>
            <div class="col-sm-6 text-right">
              <p class="footer-text"><a href="#">Términos de servicio</a> | <a href="#">Política de privacidad</a></p>
            </div>
          </div>
        </div>
      </mat-footer>
      <!-- ============================================================== -->
      <!-- End footer -->
      <!-- ============================================================== -->

  </div>
</div>

<app-modal-imagen></app-modal-imagen>