


<div id="main-wrapper">

  <app-header></app-header>

  <app-sidebar></app-sidebar>

  <div class="page-wrapper">
      <div class="container-fluid">
          <!-- Breadcrumbs -->
          <app-breadcrumbs></app-breadcrumbs>

          <!-- Mi sistema de rutas -->
          <router-outlet></router-outlet>

          <!-- <div class="row">
              <div class="col-12">
                  <div class="card">
                      <div class="card-body">
                          
                          
                      </div>
                  </div>
              </div>
          </div> -->

      </div>

      <!-- ============================================================== -->
      <!-- footer -->
      <!-- ============================================================== -->
      <mat-footer class="footer">
        <div class="">
            <div style="display: flex;">
                <div style="flex: 1;" class="">
                    <p class="justificado">
                        Servicios:
                    </p>
                    Médicos
                    <br>
                    <br>
                    Hospitales
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div style="flex: 1;" class="">
                    <p class="justificado">
                        Empresa:
                    </p>
                    Encuentre un hospital
                    <br>
                    <br>
                    Contactenos
                    <br>
                </div>
                <div style="flex: 1;" >
                    <p class="justificado">
                        Encuentranos:
                    </p>
                    <br>
                    <p class="letra">
                    <img src="../../assets/images/icon/f.png" alt="" class="imagen"> ..
                    <img src="../../assets/images/icon/w.png" alt="" class="imagen"> ..
                    <img  src="../../assets/images/icon/i.png" alt="" class="imagen"> ..
                    <img src="../../assets/images/icon/t.png" alt="" class="imagen"> </p></div>
                
              </div>
        </div> 
        <div style="display: flex;">
        <div style="flex: 1;">© 2020-2023 Hospital </div>    
        <div style="flex: 1;" class="alinear">Términos de servicio | Política de privacidad</div>
    </div> 
      </mat-footer>
      <!-- ============================================================== -->
      <!-- End footer -->
      <!-- ============================================================== -->

  </div>
</div>

<app-modal-imagen></app-modal-imagen>