<div class="row">
    <div class="col-6">
      grafica
      <app-dona titulo = "Ventas" ></app-dona>
    </div>

    <div class="col-6">
        grafica
        <app-dona titulo = "Compras" 
                  [labels] = "labels1"
                  [data]="doughnutChartData1"

                  >                  
        </app-dona>
    </div>
</div>

<div class="row">
    <div class="col-6">
      grafica
      <app-dona titulo = "Cambios"></app-dona>
    </div>

    <div class="col-6">
        grafica
        <app-dona titulo = "Compras 2"></app-dona>
    </div>
</div>
