.form-horizontal {
    margin: 0 auto;
    max-width: 500px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  @media only screen and (max-width: 767px) {
    .form-horizontal {
      padding: 0 20px;
    }
  }

  div {
    margin: 0 auto;
    text-align: center;
  }

  .d-flex {
    justify-content: center;
  }
  
  .d-flex a {
    margin: 0 10px;
  }
    